.container {
    margin: 20px;
  }
  
  .upload-section {
    margin-bottom: 10px;
  }
  
  .room-field {
    margin-bottom: 10px;
  }
  
  .room-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .room-item img {
    margin-bottom: 10px;
  }
  
  .button {
    margin-right: 10px;
  }
  /* button{
    padding: 3px;
  }
  input{
    padding: 3px;
  }
  p{
    margin: 0 0 5px;
  } */